<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="Seb Glowacki" />

<!--     <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" /> -->

    <link rel="stylesheet" href="/stylesheets/controller.css"/>
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
  </head>
  <body class="impress-not-supported">

    <div id="touchscreen" class="touchscreen">
      <span><b>Magic slide controller</b></span>
      <br/>
      <span>Swipe <b>left</b> or <b>right</b> to change slide.</span>
      <br/>
      <span><b>Tap</b> once to go to the beginning.</span>
<!--       <br/>
      <button id="btnstart" onclick="start()">Start</button>
      <button id="btnnext" onclick="next()">Next</button>
      <button id="btnprev" onclick="prev()">Prev</button> -->
    </div>

    <script src="/javascripts/zepto.min.js"></script>
    <script src="/javascripts/hammer.js"></script>
    <script src="/javascripts/controller.js"></script>
  </body>
</html>