<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="Seb Glowacki" />

<!--     <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />
 -->
    <link rel="stylesheet" href="/stylesheets/index.css"/>
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
  </head>
  <body class="impress-not-supported">

	<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
	</div>

	<div id="impress">

	    <div id="title" class="step" data-x="0" data-y="0" data-scale="4">
	        <span class="try">The Node Conference</span>
	        <h1>NodeDublin</h1>
	        <span class="footnote">Seb Glowacki</span>
	    </div>   

	    <div id="its" class="step" data-x="850" data-y="3000" data-rotate="90" data-scale="5">
	        <p>First <strong>Node.js</strong> conference in Europe<br/>
	        	organized by people who contribute to Node.js project and the Node.js community.
	        </p>
	    </div>

	    <div id="big" class="step" data-x="3500" data-y="2100" data-rotate="180" data-scale="6">
	    	<p>Speakers <b>list</b> on the event website</p>	         
	    </div>

	    <div id="tiny" class="step" data-x="2825" data-y="2325" data-z="-3000" data-rotate="300" data-scale="1">
        	<p><a href="http://nodedublin.com">nodedublin.com</a></p>
    	</div>
    	
    	<div id="ing" class="step" data-x="3500" data-y="-850" data-rotate="270" data-scale="6">
        	<p>Event took place in <b class="positioning">Guinness Storehouse</b> just <b class="rotating">around</b> the <b class="scaling">corner</b></p>
    	</div>
    	         	
	</div>

	<div class="hint">
      <p>Use a spacebar or arrow keys to navigate</p>
    </div>
    <script>
      if ("ontouchstart" in document.documentElement) { 
      document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
      }
    </script>

    <script src="/javascripts/impress.js"></script>
    <script>impress().init();</script>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect();
      socket.on('cmd', function (data) {
      	if (data === 'next')
        	impress().next();
        if (data === 'prev')
        	impress().prev();
        if (data === 'start')
        	impress().goto(0);
      });
    </script>
  </body>
</html>