body {
    font-family: 'PT Sans', sans-serif;
    
    min-height: 740px;

    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));

    -webkit-font-smoothing: antialiased;
}

.touchscreen {
	width:100%;
	min-height:1000px;
	/*background-color: red;*/
}

@media (min-width: 500px) {
    html {
        font-size: 50px;
    }
}
 
@media (max-width: 499px) {
    html {
        font-size: 30px;
    }
}

/*button {
	height: 100px;
	width: 200px;
	font-size: 60px;
}*/